<div class="row">
  <div>
    <h2>App-Actuate-Info</h2>
    <h2>Name</h2>
    <h4>{{resp['app']['name']}}</h4>
    <br/>
    <h2>description</h2>
    <h4>{{resp['app']['description']}}</h4>
    <br/>
    <h2>version</h2>
    <h4>{{resp['app']['version']}}</h4>
    <br/>

    <h2>Additional Info</h2>
    <h2>Application-Name</h2>
    <h4>{{resp['Additional-Info']['Application-Name']}}</h4>
    <br/>
    <h2>Application-Name</h2>
    <h4>{{resp['Additional-Info']['Bootstrap-Application-Name']}}</h4>
    <br/>
    <h2>Description</h2>
    <h4>{{resp['Additional-Info']['Description']}}</h4>
    <br/>
    <h2>Application-Version</h2>
    <h4>{{resp['Additional-Info']['Application-Version']}}</h4>
    <br/>
  </div>
</div>
