<div class="row" *ngIf="ready">
  <div class="col-md-4">
    <div class="form-group">
      <label for="id-bfu-ticket-dashboard-select-car">Select Car</label>
      <select class="form-control" [(ngModel)]="uiData.carId" (change)="onCarSelectionChange()" id="id-bfu-ticket-dashboard-select-car">
        <option [value]="0">No Car Selected</option>
        <option *ngFor="let car of cars.values" [value]="car[cars.idIndex]">{{car[cars.indexes[0].index]}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="id-bfu-ticket-dashboard-pick-date">Travel Date</label>
      <input type="date" class="form-control" [ngModel]="uiData.date" id="id-bfu-ticket-dashboard-pick-date" [min]="today"/>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="id-bfu-ticket-dashboard-select-shift">Select Shift</label>
      <select class="form-control" [(ngModel)]="uiData.shift" (change)="onShiftSelectionChange()" id="id-bfu-ticket-dashboard-select-shift">
        <option *ngFor="let shift of shifts" [value]="shift.id">{{shift.name}}</option>
      </select>
    </div>
  </div>
</div>
<ficket-bfu-seat-extract [seatStructure]="seatStructure" [soldSeat]="soldSeats"></ficket-bfu-seat-extract>
