.framework-bg-color {
  background-color: #2780e3;
}
.framework-bg-color-dark {
  background-color: #10549e;
}
.framework-text-color {
  color: #2780e3;
}
.framework-text-color-dark {
  color: #10549e;
}
