<h2>{{miscellaneousSetup.id == null?'Create New':'Update'}} Miscellaneous-Setup</h2>
<div class="form-group">
  <form (ngSubmit)="save()">
    <div class="row">
      <div class="col-4">
        <fieldset>
          <div class="form-group has-success">
            <label class="form-control-label" for="title">Title</label>
            <input type="text" id="title" placeholder="Enter Title Name" [(ngModel)]="miscellaneousSetup.title" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
          <div class="form-group has-success">
            <label class="form-control-label" for="active">Active Status</label>
            <input type="checkbox" id="active" [(ngModel)]="miscellaneousSetup.active" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
        </fieldset>
      </div>
      <div class="col-4">
        <fieldset>
          <div class="form-group has-success">
            <label class="form-control-label" for="typeName">Type Name</label>
            <input type="text" id="typeName" placeholder="Enter Type Name" [(ngModel)]="miscellaneousSetup.typeName" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
        </fieldset>
      </div>
      <div class="col-4">
        <fieldset>
          <div class="form-group has-success">
            <label class="form-control-label" for="typeValue">Type Value</label>
            <input type="text" id="typeValue" placeholder="Enter Type Value" [(ngModel)]="miscellaneousSetup.typeValue" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4">
      </div>
      <div class="col-4 text-right">
        <fieldset>
          <button type="button" (click)="save()" class="btn btn-dark">{{miscellaneousSetup.id==null?'Save':'Update'}}</button>
        </fieldset>
      </div>
    </div>
  </form>
</div>
