<div class="row">
  <div class="col-md-8">
    <h3>Application Users</h3>
  </div>
  <div class="col-md-4 text-right">
    <a routerLink="/user-dashboard/user-create" class="btn btn-dark">Create New User</a>
  </div>
</div>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th class="text-large">Username</th>
    <th class="text-large">Email</th>
    <th class="text-large">Active Status</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of domains ">
    <td>{{user.primary}}</td>
    <td>{{user.secondary}}</td>
    <td>{{user.active?'Active':'Inactive'}}</td>
    <td class="text-right">
      <button class="btn btn-info">View</button>
      <button type="submit" [routerLink]="['/user-dashboard', user.id, 'user-update']" class="btn btn-dark">Edit</button>
      <button (click)="revertActiveStatus(user)" class="btn btn-primary">{{user.active?'Deactivate':'Activate'}}</button>
      <button (click)="delete(user)" class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
