<h2>Create New Authority</h2>
<div class="form-group">
  <form (ngSubmit)="saveAuthority()">
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4">
        <fieldset>
          <div class="form-group has-success">
            <label class="form-control-label" for="authorityName">Authority Name</label>
            <input type="text" id="authorityName" placeholder="Enter Authority Name" [(ngModel)]="authority.name" (ngModelChange)="checkAuthorityName(authority.name)" [ngModelOptions]="{standalone: true}" class="form-control" [ngClass]="authority.name!=null?(!authorityExist?'is-valid':'is-invalid'):''">
            <div *ngIf="authority.name!=null && authorityExist" class="invalid-feedback">Sorry, Authority of same name already exist</div>
          </div>
        </fieldset>
      </div>
      <div class="col-4">
      </div>
    </div>
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4">
      </div>
      <div class="col-4 text-right">
        <fieldset>
          <button *ngIf="authority.name!=null && !authorityExist" type="button" (click)="saveAuthority()" class="btn btn-dark">Submit</button>
        </fieldset>
      </div>
    </div>
  </form>
</div>
