<div class="row">
  <div class="col-md-8">
    <h3>Miscellaneous Setups</h3>
  </div>
  <div class="col-md-4 text-right">
    <a routerLink="/miscellaneous-setup-dashboard/miscellaneous-setup-create" class="btn btn-dark">Create Miscellaneous Setup</a>
  </div>
</div>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th class="text-large">Type Name</th>
    <th class="text-large">Active Status</th>
    <th class="text-large">Title</th>
    <th class="text-large">Type Value</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let miscellaneousSetup of domains ">
    <td>{{miscellaneousSetup.typeName}}</td>
    <td>{{miscellaneousSetup.active?'Active':'Inactive'}}</td>
    <td>{{miscellaneousSetup.title}}</td>
    <td>{{miscellaneousSetup.typeValue}}</td>
    <td class="text-right">
      <button class="btn btn-info">View</button>
      <button type="submit" [routerLink]="['/miscellaneous-setup-dashboard', miscellaneousSetup.id, 'miscellaneous-setup-update']" class="btn btn-dark">Edit</button>
      <button (click)="revertActiveStatus(miscellaneousSetup)" class="btn btn-primary">{{miscellaneousSetup.active?'Deactivate':'Activate'}}</button>
      <button (click)="delete(miscellaneousSetup)" class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
