/* You can add global styles to this file, and also import other style files */

.element-right {
  float: right;
}

.element-zero-padding {
  padding: 0 0 0 0;
}

.element-center {
  text-align: center;
}
