<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">FICKET</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="id-bmu-layout-nav-bar-list" [ngbCollapse]="isNavbarCollapsed">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="btn-group" *bendIsAuthenticated="'YES'" role="group">
      <button id="id-layout-navbar-account-dropdown-collapsable" (click)="toggleAccountDropdown()" type="button" class="btn btn-primary dropdown-toggle" data-toggle="accountMenuDropdown" aria-haspopup="true" aria-expanded="false"></button>
      <div class="dropdown-menu" [ngbCollapse]="isAccountDropdownCollapsed" aria-labelledby="id-layout-navbar-account-dropdown-collapsable">
        <a class="dropdown-item text-link" (click)="go(['account-profile'])" >Profile</a>
        <a *bendHasAnyAuthority="auth.superAdmin()" (click)="go(['setting-dashboard'])" class="dropdown-item text-link" >Settings</a>
        <a *bendHasAnyAuthority="auth.superAdmin()" (click)="go(['terminal-runner'])" class="dropdown-item text-link" >Terminal</a>
      </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input id="id-layout-navbar-search-input" class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      <a *bendIsAuthenticated="'NO'" class="nav-link text-white" href="#" (click)="login()">Login</a>
      <a *bendIsAuthenticated="'YES'" class="nav-link text-white" href="#" (click)="logout()">Logout</a>
    </form>
  </div>
</nav>
