@import "cosmo/bootstrap.min.css";
@import "cosmo/cosmo-min.css";
/*Container Related*/
.container-one-per {
  margin-left: 1%;
  margin-right: 1%;
}

.text-red {
  color: rgba(255, 0, 0, 0.95);
}

.text-large {
  font-size: large
}

.text-link {
  cursor: pointer;
}

/*ELEMENT-STYLES*/

.element-right {
  float: right;
}

.element-zero-padding {
  padding: 0 0 0 0;
}

.element-center {
  text-align: center;
}
