<div class="row">
  <div *hasAnyAuthority="auth.userAdmin()" class="col-3">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">Create and Edit User & Authorities</div>
      <div class="card-body">
        <h4 class="card-title">Manage User</h4>
        <a routerLink="user-dashboard" class="card-link text-white">Manage User</a> <br>
        <a routerLink="authority-dashboard" class="card-link text-white">Manage Authority</a> <br>
        <a routerLink="/user-dashboard/user-create" class="card-link text-white">Create User</a> <br>
      </div>
    </div>
  </div>
  <div *hasAnyAuthority="auth.settingAdmin()" class="col-3">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">Create & Edit Setting</div>
      <div class="card-body">
        <h4 class="card-title">Manage Setting</h4>
        <a routerLink="setting-dashboard" class="card-link text-white">Settings</a> <br>
        <a routerLink="miscellaneous-setup-dashboard" class="card-link text-white">Miscellaneous Setting</a> <br>
        <a routerLink="domain-description-dashboard" class="card-link text-white">Domain Description</a> <br>
        <a routerLink="field-description-dashboard" class="card-link text-white">Field Description</a> <br>
      </div>
    </div>
  </div>
</div>

