<p-toast></p-toast>
<p-toast key="key-center" position="center"></p-toast>
<p-toast key="key-top-left" position="top-left"></p-toast>
<p-toast key="key-top-center" position="top-center"></p-toast>
<p-toast key="key-top-right" position="top-right"></p-toast>
<p-toast key="key-bottom-left" position="bottom-left"></p-toast>
<p-toast key="key-bottom-center" position="bottom-center"></p-toast>
<p-toast key="key-bottom-right" position="bottom-right"></p-toast>
<router-outlet name="navbar"></router-outlet>
<br>
<div class="container-one-per">
  <router-outlet></router-outlet>
</div>
<hr>
<footer>
  <router-outlet name="footer"></router-outlet>
</footer>
