<div *ngIf="load">
  <div class="framework-text-color-dark" style="padding: 2px 2px 2px 2px"><h3>{{uiModel.name}} Information</h3></div>
  <hr/>
  <table class="table table-striped table-bordered">
    <thead>
      <tr class="framework-bg-color text-white">
        <th class="element-center" scope="col">INDEX</th>
        <th class="element-center" scope="col" *ngFor="let col of crudData.data.columns">{{col}}</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rows of crudData.data.values; let idx = index">
      <td class="element-center">{{(pageCount*pageSize) + idx + 1}}</td>
      <td *ngFor="let index of crudData.data.indexes">{{index.dynamic ? compile(index, rows) : rows[index.index]}}</td>
      <td>
        <div class="row-cols-3">
          <button [routerLink]="[uiModel.tableStructure.actionRoute.viewRoute , rows[crudData.data.idIndex]]" class="col-sm-4 btn btn-secondary"><i class="fa fa-eye"></i> {{uiModel.tableStructure.actionColumn.actionViewName}}</button>
          <button [disabled]="uiModel.name == 'User' && rows[uiModel.tableStructure.actionColumn.actionDisableIndex] == 'system'" class="col-sm-4 btn btn-primary"><i class="fa fa-pen"></i> {{uiModel.tableStructure.actionColumn.actionEditName}}</button>
          <button [disabled]="uiModel.name == 'User' && rows[uiModel.tableStructure.actionColumn.actionDisableIndex] == 'system'" class="col-sm-4 btn btn-danger"><i class="fa fa-trash"></i> {{uiModel.tableStructure.actionColumn.actionDeleteName}}</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-sm-5">
      <p>Showing total {{(pageCount*pageSize) + crudData.data.values.length}} of {{crudData.totalElements}} data.</p>
    </div>
    <div class="col-sm-2">
      <button class="col-sm-4 btn btn-primary" [disabled]="isFirstPage()" (click)="prev()"><i class="fa fa-chevron-left"></i></button>
      <button class="col-sm-4 btn btn-primary" [disabled]="isFirstPage()" (click)="reset()"><i class="fa fa-recycle"></i></button>
      <button class="col-sm-4 btn btn-primary" [disabled]="isLastPage()" (click)="next()"><i class="fa fa-chevron-right"></i></button>
    </div>
    <div class="col-sm-5"></div>
  </div>
</div>
